<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.mogasup.mapper.PictureMapper">
	<insert id="insertImage">
		insert into picture values(null, #{family_id}, #{image_path})
	</insert>
	
	<delete id="deleteImage">
		delete from picture where picture_id=#{picture_id}
	</delete>
	
	<select id="listImage" resultType="java.util.Map">
		select picture_id, image_path from picture where family_id=#{family_id}
	</select>
	
	<select id="readImage" resultType="String">
		select image_path from picture where picture_id=#{picture_id}
	</select>
	<select id="getPictureid" resultType="String">
		select picture_id from picture where family_id=#{family_id} order by picture_id desc limit 1;
	</select>
	
</mapper>